# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/test-galaxy/target/
/scala-galaxy/target/
/logs/
/grpc-galaxy/target/
/simple-galaxy/target/
/redis-galaxy/target/
/elastic-galaxy/target/
/gateway-galaxy/target/
/.idea/sonarlint/
/docker-galaxy/target/
/bootstrap-galaxy/target/
/groot-galaxy/target/
/zookeeper-galaxy/target/
/zookeeper-galaxy/zookeeper-galaxy.iml
/hello-spring-boot-autoconfigure/target/
/hello-spring-boot-autoconfigure/hello-spring-boot-autoconfigure.iml
/hello-spring-boot-sample-app/target/
/hello-spring-boot-sample-app/hello-spring-boot-sample-app.iml
/hello-spring-boot-starter/hello-spring-boot-starter.iml
/gateway-galaxy/gateway-galaxy.iml
/.idea/
